body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 20rem;
}

#form {
  font-family: sans-serif;
  font-size: 18px;
}

#form label:first-child {
  margin: 10px 0 10px 0;
}

#form select {
  margin: 10px 0;
  padding: 10px;
}

#form input {
  padding: 10px;
}

#form button {
  padding: 10px;
  background: rgb(79, 231, 142);
  color: #fff;
  outline: none;
  border: none;
  transition: all .5s;
  cursor: pointer;
}

#form button:hover {
  background: rgb(85, 250, 154);
}

.result {
  margin: 10px 0 0 0;
  padding: 10px;
  background: #44ce84;
  color: #fff;
  text-align: center;
  font-size: clamp(10px, .8rem, 2vw);
}
