.c-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.c-toast {
  position: static;
  z-index: 999;
  min-width: 20%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  min-height: 5rem;
  padding: 15px;

  box-shadow: 2px 2px 20px 3px rgba(1, 1, 1, 0.1);

  display: flex;
  align-items: center;
}

.w-title {
  display: block;

  font-size: clamp(18px, 2vw, 1.2rem);
  color: #222;
  justify-self: flex-start;
}

.w-content {
  display: block;
  font-size: clamp(16px, 2vw, 1rem);
  color: #222;
}

.w-icon {
  width: 3rem;
  display: flex;
}

.c-icon {
  padding-right: 2rem;
  width: auto;
  height: 3rem;
  align-self: center;
}

.w-icon img[data-icon="error"] {
  background-image: url('../../../logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.w-info {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
}
