@keyframes point {
  to {
    border-radius: 0%;
    width: 20rem;
    height: 20rem;
  }
}

.c-button-quaternary {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 14rem;
  height: 3.5rem;
  border-radius: 4px;
  margin: 0 auto;
  outline: none;
  overflow: hidden;
  cursor: pointer;

  font-weight: 900;
  font-size: 1rem;

  background: rgba(255, 255, 255, 0);
  color: rgb(250, 250, 250);
  border: 1px solid rgb(228, 42, 123);

  transition: background 0.6s, color .6s, border .2s cubic-bezier(.55,.055,.675,.19);
}

.c-button-quaternary:hover {
  background: rgb(250, 250, 250);
  color: rgb(230, 53, 130);
  border: 1px solid rgb(250, 250, 250);
}

.e-button-quaternary__span {
  position: absolute;
  z-index: 2;
}