@keyframes translate {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.c-button-secondary {
  width: 14rem;
  height: 3.5rem;
  border: none;
  background: rgb(151, 42, 228);
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1rem;
  clip-path: inset(0 0 0 0 round 4px);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-button-secondary::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  will-change: transform;
  transform: translate(-100%);
  background: rgb(159, 62, 228);
  clip-path: inherit;
}

.c-button-secondary:hover::before {
  animation: translate 0.7s ease forwards;
}

.e-button-secondary__span {
  position: absolute;
  text-align: center;
}