.contato {
  margin: 120px auto;
  @include device(small){
    margin: 50px auto;
  }
  form {
    @include fluid-type(200px, 1200px, 14px, 18px, $font-primary);
    input, textarea{
      @include fluid-type(200px, 1200px, 14px, 18px, $font-secondary);
      color: $quaternary;
      width: 100%;
      border: none;
      background: darken($tertiary, 20%);
      color: #FFF;
      padding: 10px;
      outline: none;
      margin: 0;
    }
    textarea {
      max-width: 100%;
      max-height: 10rem;
      resize: none;
      @include device(large){
        max-height: 10rem;
      }
    }
    label {
      display: flex;
      margin: 40px 0 10px 0;
    }
    @include device(small){
      width: 98%;
      label {
        margin: 20px 0 10px 0;
      }
    }
    button {
      margin: 2rem 0 0 0;
      width: 100%;
      height: 3rem;
      outline: none;
      border: none;
      cursor: pointer;
      background: $quaternary;
      color: #FFF;
      border-radius: 4px;
      &:hover {
        background: darken($quaternary, 10%);
      }
      @include fluid-type(200px, 1200px, 14px, 24px, $font-secondary);
      @include device(large){
        margin: 40px 0 0 0;
        height: 4rem;
        width: 40%;
      }
    }
  }
}

.contato-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  p{
    margin: 20px 0 0 0;
    @include fluid-type(200px, 1200px, 8px, 18px, $font-secondary);
    padding: 20px 0 40px 0;
  }
  @include device(small){
    max-width: 98%;
  }
}

.contato-mapa {
  width: 100%;
  max-width: 100%;
  img {
    width: 100rem;
    border: 10px solid darken($primary, 5%);
      @include device(small){
        width: 98%;
        max-width: 98%;
    }
  }
}

.footer  {
  min-width: 100%;
  background: $quaternary;
  box-shadow: 0 0 0 15px $quaternary;
  .container {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  img {
    width: 50px;
    background: white;
  }
  p {
    @include fluid-type(200px, 1200px, 8px, 14px, $font-secondary);
    text-align: center;
    color: white;
  }
}
