$columns: 12;
$gutter: 1.25rem;
$large-device: 75rem;
$medium-device: 47.5rem;
$small-device: 30rem;


*, *::after, *::before {
  box-sizing: border-box;
}

@mixin device($size){
  @if $size == large {
    @media screen and (min-width: #{$large-device}){
      @content;
    }
  }
  @else if $size == medium {
    @media screen and (min-width: #{$medium-device}) and (max-width: calc(#{$large-device} - 0.0625rem)){
      @content;
    }
  }
  @else if $size == small {
    @media screen and (max-width: calc(#{$medium-device} - 0.0625rem)){
      @content;
    }
  }
}

// function grid
@function grid($colum, $offset: false){
  $width: $colum / $columns * 100 + 0%; 
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }
  @return $result;
}

// generate grid columns
@for $i from 1 through $columns {
  .grid-#{$i}{
    width: grid($i);
  }
}

// Mixin for grid structure
@mixin grid-structure {
  float: left;
  min-height: 1px;
  margin: 0 $gutter / 2;
  @include device(small){
    width: 100%;
    float: none;
    margin: 0 0;
  }
}

// select all class with grid name
[class^="grid-"] {
  @include grid-structure;
}

// generate grid columns offset
@for $i from 1 through $columns {
  .offset-#{$i}{
    margin-left: grid($i, offset);
    @extend %offset;
  }
}

@include device(small){
  %offset {
    margin-left: 0;
  }
}

// Mixin clearfix
@mixin clearfix {
  &::after, &::before {
    content: '';
    display: table;
    clear: both;
  }
}

// Mixin clearfix
@mixin container {
  max-width: $large-device;
  margin: 0 auto;
  position: relative;
  @include device(medium){
    max-width: $medium-device;
  }
  @include device(small){
    max-width: $small-device;
    padding: 0 0.625rem;
  }
  @include clearfix;
}

.container {
  @include container;
}

@mixin row {
  position: relative;
  margin: 0 -$gutter / 2;
  @include device(small){
    margin: 0 0;
  }
  @include clearfix;
}

.row {
  @include row;
}
