.intro {
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  @include device(small){
    flex-flow: column wrap;
    margin-top: 20px;
  }
}

.logo {
  margin-bottom: 60px;
  max-width: 50%;
  @include device(small){
    max-width: 50%;
  }
}

.restaurant {
  max-width: 70%;
  height: auto;
  border: 10px solid $tertiary;
}

.intro-info {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 2px solid $quaternary;
  max-width: max-content;
  padding-right: 20px;

  p:nth-child(3) {
    padding: 10px 0 0 0;
  }
  p:nth-child(2) {
    border-bottom: 2px solid $quaternary;
    padding-bottom: 25px;
    width: 100%;
  }
}

.intro-telefone {
  margin: 0;
  padding: 5px 0 0 0;
  font-weight: 700;
  @include fluid-type(200px, 1200px, 12px, 18px, $font-secondary);
  @include device(small){
    padding: 10px 0 30px 0;
  }

  &::after {
    content: '/ / /';
    display: flex;
    margin: 70px 0 0 20%;
    max-width: max-content;
    height: max-content;
    @include fluid-type(200px, 1200px, 24px, 120px, $font-secondary);
    @include device(small){
      display: none;
    }
    @include device(medium){
      margin: 20px 0 0 10%;
      padding: 2rem auto;
    }
  }
}

.aberto {
  margin: 0 0 0 10px;
  display: inline-block;
  background: rgb(54, 216, 54);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
