.menu {
  margin: 120px auto;
  @include device(small){
    margin: 50px auto;
  }
}

.menu-item {
  margin: 0 0 60px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  h2 {
    @include fluid-type(200px, 1200px, 14px, 24px, $font-secondary);
    margin-bottom: 1em;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    line-height: 2em;
    font-weight: 700;
    @include fluid-type(200px, 1200px, 12px, 16px, $font-primary);
  }
  span {
    @include fluid-type(200px, 1200px, 12px, 16px, $font-secondary);
    font-weight: 500;
    display: inline-block;
    width: 70px;
    margin-right: 10px;
    margin-left: -80px;
    @include device(small){
      margin: 0;
    }
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid $tertiary;
    position: absolute;
    right: 0;
    @include device(large){
      right: 0;
    }
     @include device(medium){
      display: block;
      position: relative;
      width: 130px;
      height: 130px;
    }
    @include device(small){
      display: block;
      position: relative;
      width: 100px;
      height: 100px;
    }
  }
}
