@import "./normalize.scss";
@import "./grid";
@import "./variables";
@import "./menu";
@import "./contacts";

// pages
@import "./intro";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

body {
  @include fluid-type(320px, 1200px, 16px, 18px, $font-primary);
  background: $primary;
  border: 10px solid $tertiary;
  font-size: 62.5%;
  color: $quaternary;
  @include device(small){
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

.intro-info {
  line-height: 0.5rem;
  @include fluid-type(200px, 1200px, 5px, 18px, $font-primary);
  @include device(small) {
    line-height: 0.3rem;
  }
}

.title {
  text-transform: uppercase;
  @include fluid-type(200px, 1200px, 12px, 18px, $font-primary);
  @include device(small){
    margin: 1rem auto;
    margin-top: 2rem;
  }
  &::after {
    content: '';
    display: block;
    width: 60%;
    background: $quaternary;
    float: right;
    height: 2px;
    margin-top: 8px;
    @include device(small){
      float: none;
      max-width: 100%;
    }
  }
}

h1[contact] {
  @include device(small){
    margin-top: 1rem;
  }
}

p {
  @include fluid-type(200px, 1200px, 12px, 18px, $font-primary);
}
